[user]
  {{ if .personal -}}
  name = Dimitris
  email = safinn@users.noreply.github.com
  signingkey =  {{ onepasswordRead "op://Private/Github Signing Key/public key" }}
  {{- else -}}
  name = Dimitris
  email = safinn@users.noreply.github.com
  signingkey = {{ onepasswordRead "op://Employee/Github RL Signing Key/public key" }}
  {{- end }}
[init]
  defaultBranch = main
[gpg]
  format = ssh
[gpg "ssh"]
  {{ if eq .chezmoi.os "darwin" -}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{- else -}}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}
[commit]
  gpgsign = true
[core]
  editor = nvim
[alias]
  st = status
  co = checkout
  pushf = push -f

